body {
	margin: 0;
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
}
a {
	text-decoration: none;
	color: #999;
}
a:hover {
	color: #ddd;
}
/* top banner*/
.topbanner {
	overflow: hidden;
	background-color: #222;
}
/* navigation bar */
.navigation-bar {
	overflow: hidden;
}
.navigation-bar a{
	float: left;
	color: #777;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
}
.navigation-bar a:hover {
	color: #ddd;
}
.navigation-bar a.active {
	color: white;
}
/* home page content */
.homePageContent img{
	width: 100%;
	display: block;
}

